.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.nav-items {
  padding: 0 25px;
}

.nav-items > ul {
  display: flex;
  font-size: 25px;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

body {
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 180px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #000;
}

.res-card:hover {
  border: 1px solid #000;
  cursor: pointer;
  background-color: peachpuff;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
  background-color: rgb(241, 239, 236);
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 180px;
  height: 400px;
  background-color: rgb(235, 230, 230);
  margin: 10px;
}
.login {
  cursor: pointer;
  padding: 0 15px;
  background-color: daksalmon;
}
.filter {
  display: flex;
}
.user-card {
  padding: 10px;
  border: 1px solid black;
}
